@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-clr: #d0ceff;
    --content-bg-clr: #f4f4f4;
    --txt-clr-1: #1f1f1f;
    --txt-clr-2: #605dae;
    --txt-clr-3: #8989d3;
    --input-unfocused-clr: #bababa;
    --input-focused-clr: #605dae;
}

html{
    height: 100%;
}

body{
    font-family: 'Nunito', sans-serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    background-color: var(--bg-clr);
}

#content{
    flex: 1;
    width: max(75%, 270px);
    background-color: var(--content-bg-clr);
    border-radius: 0.8rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.navbar{
    position: relative;
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(0 0 0 / 0.2);
}

.navbar > .brand-title{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--txt-clr-2);
}

.navbar > .refresh-btn::before{
    content: '\f2f9';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    cursor: pointer;
    font-size: 1.1rem;
    color: var(--txt-clr-2);
}

.add-tasks-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.add-tasks-container .add-tasks{
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px 16px;
    border-radius: 2rem;
}

.add-tasks-container .add-tasks:hover{
    transition: 0.2s ease;
    cursor: pointer;
    background-color: var(--txt-clr-2);
}

.add-tasks-container .add-tasks:hover::before,.add-tasks-container .add-tasks:hover::after{
    color: var(--bg-clr);
}

.add-tasks-container .add-tasks::before{
    content: '\2b';
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    font-size: 1.1rem;
    color: var(--txt-clr-2);
}

.add-tasks-container .add-tasks::after{
    content: 'Add Task';
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--txt-clr-2);
}

.modal{
    width: max(25%, 230px);
    position: absolute;
    flex-direction: column;
    padding: 20px;
    border: none;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 0.25rem;
    top: 20%;
    margin: 0 auto;
    gap: 4px;
}

.modal > .title-txt{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--txt-clr-1);
}

.modal > .title-input{
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 1.1rem;
    color: var(--txt-clr-2);
    margin: 4px 0;
    border-bottom: 2px solid var(--input-unfocused-clr);
}
.modal > .title-input:focus{
    border-bottom: 2px solid var(--input-focused-clr);
}

.modal > .due-date{
    font-size: 1.1rem;
    margin: 4px 0;
    font-weight: 500;
    color: var(--txt-clr-1);
}

.modal > .due-date-picker{
    padding: 4px;
    border: 2px solid var(--txt-clr-2);
}

.modal > .close-modal{
    font-size: 1rem;
    border: none;
    padding: 8px;
    background-color: #e8e8e8;
    color: var(--txt-clr-1);
    margin-top: 6px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 0.25rem;
}

.modal > .submit-modal{
    font-size: 1rem;
    border: none;
    padding: 8px;
    background-color: var(--bg-clr);
    color: var(--txt-clr-2);
    margin-top: 6px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 0.25rem;

}

/*Edit modal*/
.edit-modal{
    width: max(25%, 230px);
    position: absolute;
    flex-direction: column;
    padding: 20px;
    border: none;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 0.25rem;
    top: 20%;
    margin: 0 auto;
    gap: 4px;
}

.edit-modal > .title-txt{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--txt-clr-1);
}

.edit-modal > .title-input-edit{
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 1.1rem;
    color: var(--txt-clr-2);
    margin: 4px 0;
    border-bottom: 2px solid var(--input-unfocused-clr);
}

.edit-modal > .title-input-edit:focus{
    border-bottom: 2px solid var(--input-focused-clr);
}

.edit-modal > .due-date{
    font-size: 1.1rem;
    margin: 4px 0;
    font-weight: 500;
    color: var(--txt-clr-1);
}

.edit-modal > .due-date-picker-edit{
    padding: 4px;
    border: 2px solid var(--txt-clr-2);
}

.edit-modal > .close-modal{
    font-size: 1rem;
    border: none;
    padding: 8px;
    background-color: #e8e8e8;
    color: var(--txt-clr-1);
    margin-top: 6px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 0.25rem;
}

.edit-modal > .update-modal{
    font-size: 1rem;
    border: none;
    padding: 8px;
    background-color: var(--bg-clr);
    color: var(--txt-clr-2);
    margin-top: 6px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 0.25rem;

}

.task-container{
    padding: 16px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.task-container .task-card{
    width: max(75%, 230px);
    background-color: var(--content-bg-clr);
    padding: 16px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 0.25rem;
    display: flex;
    gap: 12px;
    justify-content: space-between;
    align-items:center;
}

.task-container .task-card .task-tick::before{
    content: '\f0c8';
    font-family: 'Font Awesome 5 Free';
    color: var(--txt-clr-2);
    font-weight: 500;
    cursor: pointer;
    font-size: 1rem;
}

.task-container .task-card .task-tick:hover:before{
    color: var(--txt-clr-3);
    transition: 0.2s ease;
}

.task-container .task-card .task-tick.active::before{
    content: '\f14a';
    font-family: 'Font Awesome 5 Free';
    color: var(--txt-clr-2);
    font-weight: 900;
    cursor: pointer;
    font-size: 1rem;
}

.task-container .task-card .task-edit::before{
    content: '\f304';
    font-family: 'Font Awesome 5 Free';
    color: var(--txt-clr-2);
    font-weight: 900;
    cursor: pointer;
}

.task-container .task-card .content-container{
    width: 85%;
    display: flex;
    flex-direction: column;
}

.task-container .task-card .content-container .task-title{
    width: 80%;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--txt-clr-2);
}

.task-container .task-card .content-container .task-due-date{
    font-size: 0.9rem;
    color: var(--txt-clr-1);
    font-weight: 400;
}

@media(max-width: 800px){
    .task-container .task-card .content-container{
        width: 75%;
    }
}

@media(max-width: 600px){
    .task-container .task-card .content-container .task-due-date{
        font-size: 0.8rem;
    }

    .task-container .task-card .content-container .task-title{
        font-size: 1rem;
        width: 75%;
    }
}